
.nav-icon {
    width: 20px;
    height: 20px;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

.nav-icon:hover {
    width: 30px;
    height: 30px;
    fill: rgb(220 38 38 / var(--tw-text-opacity));
}

.gradient-background {
    background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 50%, #ffffff 100%);
    width: 100%;
}

@keyframes slideAndFadeIn {
    from {
        opacity: 0.5;
        transform: translateY(20%); /* Starts from 20% below its final position */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-fade-in {
    animation: slideAndFadeIn 1s ease-in-out forwards;
}


.featured-text {
    background: linear-gradient(to bottom, #000000 0%, #b8b6b6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.new-arrival{
    background-color: #eeeeee4f;
}
